body {
  margin: 0px;
  font-family: "Press Start 2P", sans-serif;
}

.btn-font {
  font-family: "Press Start 2P", sans-serif;
}

.container {
  background-color: rgb(95, 179, 71);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.inner-container {
  max-width: 1000px;
  margin: auto;
}
.header {
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
.repeat-btn {
  padding: 20px 30px;
  font-size: 16px;
  background-color: #eeeeee;
  border: none;
  cursor: pointer;
}
.repeat-btn:hover,
button.check-btn.btn-font:hover {
  background-color: rgb(95, 93, 93);
  transition: all 1s;
}
.check-btn:hover {
  background-color: rgb(81, 79, 79);
  transition: all 1s;
}
.between {
  color: white;
  font-size: 16px;
  margin-top: 0px;
}
.main {
  text-align: center;
  display: block;
  color: white;
  padding-top: 30px;
}
.guess {
  color: black;
  font-size: 60px;
  background: #eeeeee;
  height: 30px;
  width: 200px;
  padding: 30px;
  margin: auto;
  padding-bottom: 50px;
}

.bottom-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
}

.bottom-wrapper {
  border-top: 10px solid #eeeeee;
  margin-top: -56px;
  padding-top: 96px;
}

h2.check {
  border: 5px solid;
  border-color: white;
  font-size: 50px;
  padding: 20px 80px;
  color: white;
}
button.check-btn.btn-font {
  padding: 20px 30px;
  font-size: 16px;
  background-color: #eeeeee;
  margin-left: 30px;
  border-color: black;
  border-radius: 5px;
  outline: solid;
  outline-color: white;
  cursor: pointer;
}

.game-result {
  padding: 20px;
}
.result,
.score,
.high-score {
  color: white;
  font-size: 22px;
}
.result {
  margin-bottom: 70px;
}
